
@{
    ViewBag.Title = "NNV";
    //if(Session["ClanID"]==null)
    //{
    //    Response.Redirect("~Login/Index");
    //}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            /*margin-bottom: 0;
            border-radius: 0;*/
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 8%;
            width: 100%;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 60px;
            background-color: #f1f1f1;
            height: 200%;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            margin: auto;
        }

        /* Set black background color, white text and some padding */
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #555;
            color: white;
            padding: 15px;
            /*margin-bottom:0%;*/
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @@media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }

        .btn-primary {
            background-color: lightgrey;
            color: blue;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse" @*style="position:fixed"*@>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="#">Logo</a>*@
                <img @*class="navbar-brand"*@ width="80%" height="80%" src="../Content/logo.png" class="img-responsive" />

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <label style="padding:0.5%; font-family:Arial; color:white; font-style:oblique; font-size:3.5rem;">Седница наставно научног већа</label>
                <ul class="nav navbar-nav">
                    <img src="../Content/logo.png" class="img-responsive" />

                    @*<li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
                    <li style="color:aliceblue; padding-top:40%;">Корисник: @Session["KorisnickoIme"]</li>
                </ul>
            </div>
        </div>
    </nav>
    @*  *@
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                @*@Html.Action("_Tabela", "Clanovi")*@
                <button type="button" class="btn btn-primary">Претрага</button>
                <br />
                <br />
                <br />
                <br />
                <button type="button" class="btn btn-primary">Седнице</button>
                <br />
                <br />
                <button type="button" class="btn btn-primary">@*@Html.Action("Чланови", "_Tabela", "Clanovi")*@</button>

                <br />
                <br />
                <button type="button" class="btn btn-primary">Прилози</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="button" class="btn btn-primary">Админ</button>
                <br />
                <br />
                <button type="button" class="btn btn-primary">Регистрација</button>

            </div>
            <div>@RenderBody()</div>
         

            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p><a href="@Url.Action("Logout", "Login")">Odjava</a></p>
                </div>
                <div class="well">
                    <p>@Html.ActionLink("Promena", "Create", "Clanovi")</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>
            &copy; 2003-2018 Рачунарски факултет - Београд
            &nbsp;&nbsp;&nbsp;
        </p>
    </footer>

</body>
</html>
@*container-fluid text-center*@



